RewriteEngine On
RewriteCond %{ENV:REDIRECT_STATUS} !=503
RewriteCond %{REMOTE_ADDR} !^174\.86\.37\.47
RewriteCond "/var/www/html/maintenance.enable" -f
RewriteRule ^(.*)$ /$1 [R=503,L]
ErrorDocument 503 /maintenance.html

AddHandler cgi-script .php 
Options +ExecCGI
